<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- link icon -->
   <link rel="stylesheet" href="templates/Css/loginlogout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>

</head>
<body>
    <div class="container">
        <div class="box">
            <div class="form sign_in">
                <h3>Sign In</h3>
                <span>or use your account</span>
                <form action="#" id="form_input">
                    <div class="type">
                        <input type="text" name="username" placeholder="Name" id="username" required>
                        <div id="username-error" style="color: red;"></div>
                    </div>
                     <div class="type">
                        <input type="password" name="" placeholder="Password" id="password" class="password-input" required>
                        <span class="eye-icon" onclick="togglePasswordVisibility()" id="eyeIcon">&#128065;</span>
                        <div id="password-error" style="color: red;"></div>
                    </div>
                    <button type="button" onclick="loginUserAsync()" id="signin-btn">Sign In</button>
                    <p id="error-message" style="color: red;"></p>
                   <a href="javascript:void(0);" onclick="showResetPassword()">Quên mật khẩu?</a>
                    <!-- Reset Password Form -->
                    <div id="reset-password-form" style="display: none;">
                        <input type="email" name="email" placeholder="Email" id="resetEmail" required>
                        <button type="button" onclick="forgotPassword()">Reset Password</button>
                    </div>

                    <!-- Change Password Form -->
                    <div id="change-password-form" style="display: none;">
                        <input type="email" name="email" placeholder="Email" id="changeEmail" required>
                        <input type="password" name="new_password" placeholder="New Password" id="newPassword" required>
                        <button type="button" onclick="changePassword()">Change Password</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="overlay">
            <div class="page page_signIn">
                <h3>Welcome Back!</h3>
                <p>To keep with us please login with your personal info</p>
                <a href="/register"><button class="btn btnSign-in">Sign Up <i class="bi bi-arrow-right"></i></button></a>
            </div>
        </div>
    </div>
    <!-- Uncomment the following line if you want to use Axios -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
           document.addEventListener("DOMContentLoaded", function () {
                var usernameElement = document.getElementById("username");
                var usernameValue = localStorage.getItem("username");
                if (usernameValue) {
                    usernameElement.innerText = usernameValue;
                } else {
                    usernameElement.innerText = "Guest";
                }

                // Function to set a cookie
                function setCookie(name, value, days) {
                    var expires = "";
                    if (days) {
                        var date = new Date();
                        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                        expires = "; expires=" + date.toUTCString();
                    }
                    document.cookie = name + "=" + value + expires + "; path=/";
                }

                // Function to get the value of a cookie by name
                function getCookie(name) {
                    var cookieName = name + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var cookieArray = decodedCookie.split(';');

                    for (var i = 0; i < cookieArray.length; i++) {
                        var cookie = cookieArray[i].trim();
                        if (cookie.indexOf(cookieName) === 0) {
                            return cookie.substring(cookieName.length, cookie.length);
                        }
                    }
                    return null;
                }
            });

            async function loginUserAsync() {
                const name = document.getElementById('username').value;
                const password = document.getElementById('password').value;
                var errorMessageElement = document.getElementById('error-message');
                // Xóa thông báo lỗi trước khi kiểm tra lại
                errorMessageElement.innerHTML = '';
                document.getElementById('username-error').innerText = "";
                document.getElementById('password-error').innerText = "";

                if (name.trim() === "") {
                    document.getElementById('username-error').innerText = "Vui lòng nhập tên đăng nhập.";
                    return;
                }

                if (password.trim() === "") {
                    document.getElementById('password-error').innerText = "Vui lòng nhập mật khẩu đăng nhập.";
                    return;
                }

                try {
                    const response = await fetch('http://127.0.0.1:8000/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams({
                            'name': name,
                            'password': password,
                        }),
                    });

                    const data = await response.json();

                    // Handle the response data as needed
                    console.log(data);
                    // Check if the login was successful and redirect to /index
                    if (data.message === 'Login successful') {
                        const username = name;
                        // Store the username in local storage
                        localStorage.setItem('username', username);

                        // Redirect to the index page
                        window.location.href = '/index';
                    } else {
                        // Handle unsuccessful login (optional)
                        console.log('Login unsuccessful');
                        document.getElementById('error-message').innerText = "Sai thông tin đăng nhập";
                    }
                } catch (error) {
                    console.error('Error during fetch:', error);
                }
            }

            function togglePasswordVisibility() {
                var passwordInput = document.getElementById("password");
                var eyeIcon = document.getElementById("eyeIcon");

                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    eyeIcon.innerHTML = "&#128064;"; // Biểu tượng mắt đóng
                } else {
                    passwordInput.type = "password";
                    eyeIcon.innerHTML = "&#128065;"; // Biểu tượng mắt mở
                }
            }
         function showResetPassword() {
            document.getElementById('reset-password-form').style.display = 'block';
            document.getElementById('change-password-form').style.display = 'none';
        }

        function showChangePassword() {
            document.getElementById('reset-password-form').style.display = 'none';
            document.getElementById('change-password-form').style.display = 'block';
        }

        function forgotPassword() {
            const email = document.getElementById('resetEmail').value;

            fetch('/forgot-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `email=${email}`,
            })
            .then(response => response.text())
            .then(html => {
                // Display the response HTML (reset_password.html)
                document.getElementById('form_input').innerHTML = html;
                // Additionally, show the change password form
                showChangePassword();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function changePassword() {
            const email = document.getElementById('changeEmail').value;
            const newPassword = document.getElementById('newPassword').value;

            fetch('/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `email=${email}&new_password=${newPassword}`,
            })
            .then(response => response.text())
            .then(html => {
                // Display the response HTML (success or failure message)
                document.getElementById('form_input').innerHTML = html;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        </script>
    <script src="templates/javascript/loginlogout.js"></script>
</body>
</html>
